/* img {
    opacity: 1;
}

img:hover{
    opacity: 0.2;
} */

.dropbtn {
    background-color: #34495e;
    color: white;
    font-size:16px;
    padding: 16px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0;
}

.dropdown-content{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0 ,0 ,0.2);
    background-color: #f9f9f9;
    z-index: 1;
}