img{
    /* clip-path: circle(50%); */

    /* clip-path: polygon(50% 0%, 0% 100%, 82% 46%); */

    /* clip-path: polygon(71% 1%, 34% 71%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); */


    clip-path: inset(25px 25px 30px round 15px);
}