.grad{
    height: 150px;
    /* width: 150px; */
    /* background-image: linear-gradient(red, blue, yellow); */
    /* background-image: linear-gradient(to right, red, green); */
    /* background-image: linear-gradient(to bottom right, black, grey); */
    background-image: radial-gradient(red,blue);
}




.foto{
    width: 150px;
    height: 150px;
    background-image: linear-gradient(
        90deg,
        rgba(2, 3, 61, 0.8) 0%,
        rgba(0, 168, 255, 0.8) 100%
    ),
    url(https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80);

    background-size: cover;
    

    

}

