.container{
    background-color: rgb(180, 175, 175);
    margin: 30px;
    width: 1000px;
    display: grid;

    /* grid-template-rows: 150px 150px 150px 150px 150px;
    grid-template-columns: 150px 150px 150px; */

    grid-template-rows: repeat(3, 150px);
    /* grid-template-columns: repeat(2, 150px) 300px; */
    /* grid-template-columns: repeat(2,150px) 1fr; */
    grid-template-columns: repeat(3,1fr);

    /* grid-row-gap: 30px;
    grid-column-gap: 30px; */

    grid-gap: 30px;
}

.item{
    padding: 20px;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}

.black{
    background-color: black;
    grid-row-start: 2;
    grid-row-end: 3;
    /* kodi ne lines 30 31 shkurtimisht */
    /* grid-row: 2 / 3; */
    grid-column-start: 3;
    grid-column-end: 4;
}

.pink{
    background-color: pink;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.green{
    background-color: green;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    /* grid-column-end: 3; */
    /* grid-column-end: -1; */
}

.orange{
    background-color: orange;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

.red{
    background-color: red;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.blue{
    background-color: blue;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
