/* .box{
    width: 150px;
    height: 150px;

}

.orange{
    background-color: orange;
    position: absolute;
    left: 4px;
    top: 10px;
}

.blue{
    background-color: blue;
} */


/* .box{
    width: 150px;
    height: 150px;
    position: relative;
    background-color: lightskyblue;
}

.child {
    width: 80px;
    height: 80px;
    background-color: lightcoral;
    position: absolute;
    right: 0;
    bottom: 0;

} */


.footer{
    position: sticky;
    opacity: 0.83;
    height: 80px;
    background-color:yellow;
    color: black;
    width: 100%;
    bottom: 0;
    left: 0;

    
}