/* unvisited link */
/* a:link{
    color: blueviolet;
} */


/* visited link */

a:visited{
    color: #00ff00;
}

a:hover{
    color: #ff00ff;
}


/* selected link */
a:active{
    color: #0000ff;
}



/* p::first-line{
    background-color: yellow;
}


p::first-letter{
    background-color: #ff00ff;
} */


ul li::marker{
    color: red;
    /* font-size: 1.2em; */
}


/* .description::before{
    content: "before";
    color: red;
    
}


.description::after{
    content:"after";
    color: red;
} */


.description::before{
    content: "";
    background-color: red;
    width: 10px;
    height: 10px;
    display: inline-block;
}


.description::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: red;
    display: inline-block;
}




