.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        rgba(90, 212, 90,0.5) 0%,
        rgba(165, 189, 87,0.7) 100%
    ),
    url(https://media.istockphoto.com/photos/renewable-energy-and-sustainable-development-picture-id1186330948?k=20&m=1186330948&s=612x612&w=0&h=5aNPCcQ8FcZraX44PEhb2mqcHkow2xMITJMHdh28xNg=);
    clip-path: polygon(0 0, 100% 0%, 100% 76%, 0% 100%);
    background-size: cover;

    height: 100vh;
    color:white;
    font-family: sans-serif;

}



.child{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

h1{
    font-size: 50px;
    letter-spacing: 30px;
    margin: 0;
}

p{
    letter-spacing: 15px;
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    background-color: white;
    border-radius: 20px;
    color: black;


}


